.container {
  text-align: center;
  width: 100%
}

input {
  width: 20%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.large-text {
  font-size: 72px;
}

number-field {
  max-width: 40px;
  height: 80px;
}

.medium-text {
  font-size: 30px
}

.submit-btn {
  margin: 0 20px;
  border-radius: 0;
}

