<div class="container">
  <div class="large-text">{{expression.factor1}} x {{expression.factor2}} = 
    <input 
      class="large-text"
      type="text" 
      [(ngModel)]="answerValue"
      (keydown.enter)="checkAnswer()"
      >
      <button class="large-text submit-btn"  (click)="checkAnswer()"> 🙋 </button>
    </div>
    

<br><br>
<div class="medium-text">
  <!-- You got {{correctAnswers}} correct answers in a row! -->
  {{feedback}}
</div>



<div id="prizes-won" *ngIf="prizes.length" class="medium-text">
  <h4>Prizes</h4>
  <div class="large-text">{{prizes}}</div>
</div>

</div>